.info-link {
    color: rgb(108, 164, 92);
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-top: 30px;
}

.info-link:hover {
    color: rgb(105, 239, 68);
}