.button-to-home {
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 5px 50px;
    border: 1px solid white;
    background-color: rgb(242, 176, 54);
    border-radius: 8px;
}

.button-to-home:hover {
    color: rgb(242, 176, 54);
    background-color: white;
    cursor: pointer;
}

/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) {
    
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) {
    .button-to-home {
        padding: 5px 40px;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) {
    .button-to-home {
        padding: 5px 40px;
    }
}