.button-to-home {
    font-size: 14px;
    font-weight: 800;
    color: white;
    padding: 8px 50px;
    border: 2px solid white;
    background-color: rgb(89, 135, 82); /* Verde naturale */
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.button-to-home:hover {
    color: rgb(89, 135, 82);
    background-color: white;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: pointer;
}

.button-to-home:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) and (pointer: coarse) {
    
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) and (pointer: coarse) {
    /* iPhone16 Plus, iPhone16 Pro, iPhone16 Pro Max, iPhone 11 */ 

    .button-to-home {
        padding: 5px 40px;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) and (pointer: coarse) {
    /* iPhone16, iPhone SE (3rd generation), iPhone 12 mini */

    .button-to-home {
        padding: 5px 40px;
    }
}