.recipe-description-title {
    color: white;
    text-align: center;
    font-size: 50px;
}

.recipe-description {
    margin-top: 15px;
    padding: 0 30px 50px 30px;
    text-align: justify;
    line-height: 22px;
    color: white;
    height: 90%;
    overflow-y: hidden;
    overflow-y: scroll;
}

@media screen and (min-width: 1423px) and (max-width: 3000px) {
    
    .recipe-description-title {
        font-size: 35px;
    }
    
    .recipe-description {
        font-size: 18px;
    }    
}


@media screen and (min-width: 1222px) and (max-width: 1422px) {

    .recipe-description-title {
        font-size: 32px;
    }

    .recipe-description {
        font-size: 16px;
    }    
}

@media screen and (min-width: 1022px) and (max-width: 1221px) {

    .recipe-description-title {
        font-size: 28px;
    }

    .recipe-description {
        font-size: 14px;
    }    
}

@media screen and (min-width: 822px) and (max-width: 1021px) {

    .recipe-description-title {
        font-size: 25px;
    }

    .recipe-description {
        font-size: 12px;
        line-height: 20px;
    }    
}

@media screen and (min-width: 500px) and (max-width: 821px) {

    .recipe-description-title {
        font-size: 28px;
    }

    .recipe-description {
        font-size: 12px;
        line-height: 18px;
    }    
}

/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) {
    
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) {
     /* iPhone16 Plus */

    .recipe-description-title {
        font-size: 25px;
    }
    
    .recipe-description {
        overflow-y: hidden;
        overflow-y: scroll;
        font-size: 13px;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) {
    /* iPhone16 */

    .recipe-description-title {
        font-size: 25px;
    }
    
    .recipe-description {
        overflow-y: hidden;
        overflow-y: scroll;
        font-size: 13px;
    }
}