.ingredients-list {
    color: white;
    margin-top: 20px;
    line-height: 20px;
    width: 80%;
    height: 95%;
    overflow-y: hidden;
    overflow-y: scroll;
}

@media screen and (min-width: 1423px) and (max-width: 3000px) {
    .ingredients-list {
        font-size: 18px;
        padding-left: 90px;
        padding-right: 50px;
    }
}


@media screen and (min-width: 1222px) and (max-width: 1422px) {
    .ingredients-list {
        font-size: 16px;
        padding-left: 90px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1221px) {
    .ingredients-list {
        font-size: 14px;
        padding-left: 75px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 822px) and (max-width: 1021px) {
    
    .ingredients-list { 
        font-size: 12px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 500px) and (max-width: 821px) {
    .ingredients-list {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20pxpx;
    }    
}


/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) {
    
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) {
    .ingredients-list {
        margin-top: 5px;
        line-height: 15px;
        width: 90%;
        height: 95%;
        overflow-y: hidden;
        overflow-y: scroll;
        font-size: 12px;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) {
    .ingredients-list {
        margin-top: 5px;
        line-height: 15px;
        width: 90%;
        height: 95%;
        overflow-y: hidden;
        overflow-y: scroll;
        font-size: 12px;
    }
}
