.recipes-container {
    margin: 30px auto;
    width: 100%;
    height: auto;
    padding: 20px;
}

.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.element-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 20px;
    margin-bottom: 18px;
    width: 80%;
    background-image: radial-gradient(circle at center, 
                    rgba(202, 187, 187, 0.75) 0%, 
                    rgba(241, 170, 60, 0.15) 100%);
    box-shadow: 3px 3px 15px rgba(241, 170, 60, 0.5);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    cursor: pointer;
}

.recipe-image {
    margin-right: 20px;
    border-radius: 90px;
}

.recipe-title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* MEDIA QUERIES FOR DESKTOP AND LAPTOP DEVICES */

@media screen and (min-width: 1423px) and (max-width: 3000px) {

    .recipe-image {
        width: 80px;
        height: 80px;
    }

    .recipe-title {
        font-size: 17px;
    }
}


@media screen and (min-width: 1222px) and (max-width: 1422px) {

    .recipe-image {
        width: 80px;
        height: 80px;
    }

    .recipe-title {
        font-size: 17px;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1221px) {

    .recipe-image {
        width: 80px;
        height: 80px;
    }

    .recipe-title {
        font-size: 15px;
    }
}

@media screen and (min-width: 822px) and (max-width: 1021px) {

    .recipe-image {
        width: 70px;
        height: 70px;
    }

    .recipe-title {
        font-size: 14px;
    }
}

@media screen and (min-width: 700px) and (max-width: 821px) {

    .recipe-image {
        width: 60px;
        height: 60px;
    }

    .recipe-title {
        font-size: 13px;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
    
    .recipe-image {
        width: 50px;
        height: 50px;
    }

    .recipe-title {
        font-size: 12px;
    }
}

/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) and (pointer: coarse) {
    
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) and (pointer: coarse) {
    /* iPhone16 Plus, iPhone16 Pro, iPhone16 Pro Max, iPhone 11 */

    .recipes-container {
        margin: 5px auto;
    }

    .element-container {
        width: 95%;
    }
    
    .recipe-image {
        width: 50px;
        height: 50px;
    }

    .recipe-title {
        font-size: 12px;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) and (pointer: coarse) {
    /* iPhone16, iPhone SE (3rd generation), iPhone 12 mini */

    .recipes-container {
        margin: 5px auto;
    }

    .element-container {
        width: 100%;
    }
    
    .recipe-image {
        width: 50px;
        height: 50px;
    }

    .recipe-title {
        font-size: 10px;
    }
}