.general-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.blank-container {
    width: 24%;
    border: 3px solid green;
}

.detail-page-container {
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 76%;
    height: 90%;
}