.search-bar-container {
    position: relative;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.input-box {
    padding-left: 15px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.input-box:focus {
    outline: none;
    box-shadow: 3px 3px 12px rgba(112, 31, 16, 0.9);
}

.input-box::placeholder {
    color: rgb(45, 41, 41, 0.5);
}

.search-icon {
    position: absolute;
    right: 17%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    color: rgb(112, 31, 16);
    cursor: pointer;
}

.search-icon:hover {
    color: rgb(241, 31, 16);
}

/* MEDIA QUERIES FOR DESKTOP AND LAPTOP DEVICES */

@media screen and (min-width: 1423px) and (max-width: 3000px) {

    .input-box {
        width: 50%;
        font-size: 20px;
    }

    .search-icon {
        right: 26%;
    }
}

@media screen and (min-width: 1222px) and (max-width: 1422px) {

    .input-box {
        width: 50%;
        font-size: 20px;
    }

    .search-icon {
        right: 26%;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1221px) {

    .input-box {
        width: 60%;
        font-size: 20px;
    }

    .search-icon {
        right: 22%;
    }
}

@media screen and (min-width: 822px) and (max-width: 1021px) {

    .input-box {
        width: 70%;
        font-size: 20px;
    }

    .search-icon {
        right: 17%;
    }
}

@media screen and (min-width: 700px) and (max-width: 821px) {

    .input-box {
        width: 80%;
        font-size: 20px;
    }

    .search-icon {
        right: 12%;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px) {

    .input-box {
        width: 90%;
        font-size: 20px;
    }

    .search-icon {
        right: 8%;
    }
}

/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) and (pointer: coarse) {
    
    .input-box {
        width: 70%;
        font-size: 20px;
    }
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) and (pointer: coarse) {
    /* iPhone16 Plus, iPhone16 Pro, iPhone16 Pro Max, iPhone 11 */ 

    .input-box {
        width: 85%;
        font-size: 18px;
    }

    .search-icon {
        right: 10%;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) and (pointer: coarse) {
    /* iPhone16, iPhone SE (3rd generation), iPhone 12 mini */

    .input-box {
        width: 85%;
        font-size: 16px;
    }

    .search-icon {
        right: 10%;
    }
}