.title-home {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(241, 170, 60);
    text-shadow: 2px 2px 8px rgba(241, 170, 60, 0.7);
    width: 100%;
    padding: 10px 30px 40px 30px;
    margin-top: 0;
    
}

.title-home:hover {
    text-shadow: 4px 4px 16px rgba(241, 170, 60, 0.9);
    transition: text-shadow 0.3s ease-in-out;
}

/* MEDIA QUERIES FOR DESKTOP AND LAPTOP DEVICES */

@media screen and (min-width: 1423px) and (max-width: 3000px) {
    .title-home {
        font-size: 75px;
    }

    .title-details {
        font-size: 35px;
    }
}


@media screen and (min-width: 1222px) and (max-width: 1422px) {
    .title-home {
        font-size: 75px;
    }

    .title-details {
        font-size: 30px;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1221px) {
    .title-home {
        font-size: 65px;
    }

    .title-details {
        font-size: 25px;
    }
}

@media screen and (min-width: 822px) and (max-width: 1021px) {
    .title-home {
        font-size: 53px;
    }

    .title-details {
        font-size: 20px;
    }
}

@media screen and (min-width: 700px) and (max-width: 821px) {
    .title-home {
        font-size: 40px;
    }

    .title-details {
        font-size: 20px;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
    .title-home {
        font-size: 35px;
    }

    .title-details {
        font-size: 20px;
    }
}

/* MEDIA QUERIES FOR MOBILE DEVICES */

@media screen and (min-width: 1000px) and (max-width: 1422px) and (hover: none) {
    .title-details {
        padding: 10px 30px 20px 20px;
        font-size: 25px;
    }    
}

@media screen and (min-width: 400px) and (max-width: 999px) and (hover: none) {
    .title-details {
        padding: 10px 30px 20px 20px;
        font-size: 20px;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) and (hover: none) {
    .title-details {
        padding: 10px 10px 20px 10px;
        font-size: 18px;
    }
}
