
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/public/images/main-background-06.jpg");
    background-size: cover;
    background-clip: border-box;
    background-position: left 10%;
    background-repeat: no-repeat;
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
}





